<input class="form-control mr-sm-2" type="search" placeholder="Type at least three characters..." aria-label="Search" oninput="searchCard(this.value, this.getAttribute('data-action'))" data-action = "{{ path('app_deck_add_card', { 'id': deck.getId(), 'card': 'PARAM_CARDID'} ) }}">
<table class="c-cards-search">

</table>